# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode/
.idea/

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/

desktop.ini

# The files used locally for testing should not be pushed into the repository
fs_root/